<h1>Series</h1>

<ul>
    {{#each seriesList}}
    <li>
        <a href="/users/{{../userId._id}}/series/{{_id}}"><h2>{{title}}</h2></a>  <p>{{description}}</p>
    </li>
    <form action="/users/{{../userId}}/series/{{this._id}}?_method=DELETE" method="POST">
        <button type="submit">Delete Series</button>
    </form>
    {{/each}}
</ul>