<h1>{{series.title}}</h1>
<a href="/users/{{user._id}}/series/{{series._id}}/comics/new"><button class="waves-effect waves-light btn-small">Add a Comic</button></a>
<ul class="series-list">
    {{#each series.comics}}
    <li>
        
        <a href="/users/{{../user._id}}/series/{{../series._id}}/comics/{{this._id}}">
            <p>{{this.title}}</p>
            <img class="comics-images" src="{{this.img}}">
        </a>
        <form action="/users/{{../user._id}}/series/{{../series._id}}/comics/{{_id}}?_method=DELETE" method="POST">
            <button class="waves-effect waves-light btn-small" type="submit">Remove Comic</button>
        </form>
    </li>
    {{/each}}
</ul>