    <h1>Edit {{comics.title}}</h1>
    <form action="/users/{{user._id}}/series/{{series._id}}/comics/{{comics._id}}?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" value="{{comics.title}}" />
        </div>
        <div>
            <label for="writer">Writer</label>
            <input type="text" name="writer" value="{{comics.writer}}" />
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" name="price" value="{{comics.price}}" />
        </div>
        <div>
            <label for="publishedDate">Published Date</label>
            <input type="text" name="publishedDate" value="{{comics.publishedDate}}" />
        </div>
        <div>
            <label for="img">Image Link</label>
            <input type="text" name="img" value="{{comics.img}}" />
        </div>
        <button class="waves-effect waves-light btn-small" type="submit">Update</button>
    </form>
