 <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<h1>{{comics.title}}</h1>
<ul class='unstyled'>
    <li>Volume Number: {{comics.volumeNumber}}</li>
    <li><p>Writer: {{comics.writer}}</p></li>
    <li><p>Publish Date: {{comics.publishedDate}}</p></li>
</ul>

